
env/

.ipynb_checkpoints/

object_detection/core/__pycache__/

object_detection/protos/__pycache__/

object_detection/utils/__pycache__/

object_detection/saved_models/faster_rcnn_resnet50_ship_*/

object_detection/saved_models/ssd_inception_ship_*/

object_detection/saved_models/ssd_mobilenet_ship_*/

object_detection/training_logs/eval/

object_detection/training_logs/train/

test_images/result/

test_videos/result/

time_series_data/savefig/

time_series_data/v*/

eval_images*
